
*{margin:0;}
.switch{
  background-color:#BA1010;
  height: 1000000000px;
  width:10000px;
  
  
}
.switch1{
  color:white;
  font-size: 250pt;
}

.switch2{
  color:white;
font-size:50pt;
width:1500px;
}